@{
    ViewData["Title"] = "busca cidade";
}
<br />
<br />

<div class="input-group input-group-lg">
    <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-lg">Cidade:</span>
    </div>
    <input type="text" class="form-control" id="nmeCidadeInput" aria-describedby="inputGroup-sizing-lg" onblur="MostrarCidade(this.value)" />
</div>
<br />
<a class="btn btn-outline-primary btn-lg btn-block">BUSCAR</a>
<br />
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="row">CIDADE</th>
            <th>CASOS</th>
            <th>ÓBITOS</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <h6 id="cidade">
                </h6>
            </td>
            <td>
                <h6 id="casos">
                </h6>
            </td>
            <td>
                <h6 id="obitos">
                </h6>
            </td>
        </tr>
    </tbody>
</table>

<script type="text/javascript" src="@Url.Content("~/js/BuscaCidade.js")"></script>

<style>
    footer {
        position: absolute;
        bottom: 0;
        width: 100%;
    }
</style>