<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1, user-scalable=no" />    <title>@ViewData["Title"] - CovidMonitorAspNetCore</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-grid.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<body>
    <header>
        
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer>
        <div class="row d-flex justify-content-around">
            <a class="footerPessoa" href="https://www.linkedin.com/in/alejandro-pietry-5383a3175/">
                <div class="d-flex mb-2 col">
                    <div>
                        <img src="https://media-exp1.licdn.com/dms/image/C4D03AQHxdw06aO85Eg/profile-displayphoto-shrink_200_200/0?e=1598486400&v=beta&t=lHXcubzr2MobFpMm6ZExTtqUuILRkYymbvpsULONrUA"
                             class="img-width" />
                    </div>
                    <div class="d-block ml-2">
                        <h6>Alejandro Pietry <img class="imgLinkedin" src="https://cdn4.iconfinder.com/data/icons/social-messaging-ui-color-shapes-2-free/128/social-linkedin-circle-512.png" /></h6>
                        <h6>Desenvolvedor .NET</h6>
                    </div>

                </div>
            </a>
            <a class="footerPessoa" href="https://www.linkedin.com/in/nicolas-soffi-565028198">
                <div class="d-flex mb-2 col">
                    <div>
                        <img src="https://media-exp1.licdn.com/dms/image/C4D03AQEAEwHuRB3CKw/profile-displayphoto-shrink_200_200/0?e=1598486400&v=beta&t=vAHttbICYsEaPSLwk9I_XtWWW-jl7QTlQFJEjBUExc8"
                             class="img-width" />
                    </div>
                    <div class="d-block ml-2">
                        <h6>Nicolas Soffi <img class="imgLinkedin" src="https://cdn4.iconfinder.com/data/icons/social-messaging-ui-color-shapes-2-free/128/social-linkedin-circle-512.png" /></h6>
                        <h6>Desenvolvedor .NET</h6>
                    </div>

                </div>
            </a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
