<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1, user-scalable=no" />    <title>Covid Monitor Brasil</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-grid.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<body>
    <header>
        
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer>
        <div class="row d-flex justify-content-around">
            <a class="footerPessoa" href="https://www.linkedin.com/in/alejandro-pietry-5383a3175/">
                <div class="d-flex mb-2 col">
                    <div>
                        <img src="~/media/img/alejandroPietry.jpg"
                             class="img-width" />
                    </div>
                    <div class="d-block ml-2">
                        <h6>Alejandro Pietry  <img class="imgLinkedin" src="~/media/img/social-linkedin-circle-512.png" /></h6>
                        <h6>Desenvolvedor .NET</h6>
                    </div>

                </div>
            </a>
            <a class="footerPessoa" href="https://www.linkedin.com/in/nicolas-soffi-565028198">
                <div class="d-flex mb-2 col">
                    <div>
                        <img src="~/media/img/NicolasSoffi.jpg"
                             class="img-width" />
                    </div>
                    <div class="d-block ml-2">
                        <h6>Nicolas Soffi  <img class="imgLinkedin" src="~/media/img/social-linkedin-circle-512.png" /></h6>
                        <h6>Desenvolvedor .NET</h6>
                    </div>

                </div>
            </a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
