
#search.main__search {
    padding: 56px 16px 86px 16px;
}
@media only screen and (max-width: 1290px) #search {
    margin-top: 66px;
}
#search {
    background-color: #3367d5;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
@media only screen and (max-width: 830px) #search form {
    flex-direction: column;
}

#search form {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 830px) #search form .search_input {
    margin-right: 0;
    margin-bottom: 8px;
    width: 90%; 
}
#search form .search_input {
    margin-right: 16px;
    width: 33.33%;
}

.btn-secondary {
    background-color: #ffd54f;
    color: rgba(0,0,0,.54);
}

.main-section{
    display: flex;
    flex: 1;
    flex-direction: column;
    width: 100%;
}

.content-page{
    position:absolute;
    right: 0;
    left: 0;
    overflow:auto;
}

.first-section {
    display: flex !important;
}

.orange-box {
    box-shadow: none;
    flex-direction: row !important;
    min-height: 121px;
    padding-right: 0px;
    padding-left: 0px;
    background: rgb(255, 166, 24);
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
    list-style: none;
}

body {
    background: #fff;
    font-family: helvetica;
}

h2 {
    text-align: center;
    color: #444;
    margin-top: 20px;
}

.wrapper {
    width: 220px;
    padding: 10px;
    margin: 50px auto;
    position: relative;
}


.list {
    position: absolute;
    width: 200px;
    top: 50px;
    max-height: 250px;
    overflow-x: scroll;
    background: rgba(33, 33, 33, .7);
    color: #fff;
    border-radius: 5px;
    overflow-x: hidden;
    visibility: hidden;
    opacity: 0;
    transition: all 0.25s linear;
    transform: translateY(10px);
}

    .list li {
        padding: 6px 10px;
        cursor: pointer;
        font-size: 15px;
    }

        .list li:hover {
            background: rgba(33, 33, 33, 0.3);
        }

.arrow-up {
    width: 0px;
    height: 0px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid rgba(33, 33, 33, .7);
    position: absolute;
    top: 40px;
    left: 20px;
    visibility: hidden;
    opacity: 0;
    transition: all 0.25s linear;
    transform: translateY(10px);
}

.show {
    visibility: visible;
    opacity: 1;
    transform: translateY(0px);
}

.hide {
    visibility: hidden;
    opacity: 0;
    transform: translateY(5px);
    //transition-duration: 0.15s;
    transition: none;
}

.selecting {
    background: rgba(33, 33, 33, 0.3);
}